<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{#if title}}{{title}} &middot; {{/if}}Alumni Influencers Platform</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    {{> nav}}
    <main class="container">
      {{> flash_messages}}
      {{{body}}}
    </main>
  </body>
</html>
